body {
  margin: 0;
  font-family: 'Google Sans', Roboto, Arial, sans-serif;
}

* {
  box-sizing: border-box;
}

@font-face {
  font-family: 'Google Sans';
  src: url('https://fonts.gstatic.com/s/googlesans/v16/4UaGrENHsxJlGDuGo1OIlL3Owp4.woff2') format('woff2');
}